.map {
  height: 400px;
  width: 100%;
}
h1 {
  text-align: center;
}
.Box {
  border: 2px solid gray;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
.fake-border {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.fake-border-empty {
  margin: 5%;
}
.controll-box {
  box-sizing: border-box;
  border: 2px solid gray;
  flex: 1;
  padding: 30px;
  min-width: 50%;
}
.on {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.off {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button-line {
  display: flex;
  justify-content: space-around;
}
.controll-box:not(:first-child):not(:nth-child(1)) {
  flex-grow: 0;
}
.status-dot {
  margin-bottom: 25%;
}
